
   <header class="clearfix">
        <div class="grid_3">
          <div id="gift-font">
            <%= link_to "Gift List", root_path %>
          </div> 
            <%= link_to image_tag("http://www.clker.com/cliparts/Z/X/r/e/b/d/black-bow-ribbon-md.png", :id => "ribbon", :alt => "ribbon"), root_path %>
        </div>



        <div class="top-nav grid_9 omega">
          <ul>
              <% if current_user %>
                <%= link_to "Logged in as #{current_user.name}", user_path(current_user) %>
                <li><%= link_to 'Logout', session_path('current'), method: 'delete' %></li>
              <% else %>
                 <li><%= link_to 'Log In', new_session_path %></li>
              <% end %>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "Home", root_path %></li>
          </ul>
        </div>

        <nav class="grid_9 omega">
          <ul>
            <li><%= link_to "Register for gift list", new_user_path unless current_user %></li>
             
            
               <li><%= link_to "Manage your list", "" %></li>
                <li><a href="#">Buy a gift</a></li>
       
            
           
            
          </ul>
        </nav>
      </header>
  
